body{
	/*height: 2000px;*/
}
.hero{
	background-color: #3A424F;
	height: 100%;
	padding-bottom: 50px;
}

.mynavbar{
	padding: 15px 0;
	background-color: #3A424F;
	margin-bottom: 5px;
}

.navbar-nav a{
	color:white;
}

.navbar-nav a:hover{
	color:orange;

}

.myheronav{
	margin-top: 0;
}

.herotext{
	padding: 50px 20px;
	color:white;
}

.herotext h1{
	font-size: 18px;
}

.herotext p{
	font-size: 13px;
}

.tiny_dots{
	position: absolute;
	width: 2%;
	height:2.5%;
	border-radius: 50%;
	background-color: #F58634;
	box-shadow: 5px 5px 5px #C65705;
}

.dot_1{
	z-index: 1;
}

.dot_2{
	bottom: 20px;
	right: 5px;
}

.dot_3{
	bottom: 2px;
	right: 200px;
	/*box-shadow: 5px 5px 5px #C65705;*/
}

.dot_4{
	top: -20px;
	right: 100px;
}

.mid_dots{
	position: absolute;
	width: 7%;
	height:9.5%;
	border-radius: 50%;
	background-color: #F58634;
	/*box-shadow: -10px 10px 10px #C65705;*/
}

hr{
	color: orange;
}

.register-button{
	/*width: 40%;*/
	border:1px solid #F58634;
	display: inline;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}

.register-button:hover{
	background-color: #F58634;
	box-shadow: 5px 5px 5px #C65705;
}

/*=========NAVBAR CART DESIGN AND FIXED TAB ======*/

#navbarCollapse .navbar-nav .fa-shopping-cart,
#navbarCollapse .navbar-nav div{
	display: none;
}

.toggle-cont .navbar-nav .fa-shopping-cart{
	font-size: 25px;
	margin-right: 10px;
}

.shop-itemNum {
	position: relative;
}

.shop-itemNum div{
	position: absolute;
	top: -5px;
	right: -5px;
	color: white;
	background-color: #F58634;
	padding: 2px 5px 3px 3px;
	border-radius: 50%;
	font-size: 10px;
	font-weight: bold;
}

.shop-itemNum:hover{
	cursor: pointer;
}

.fa-bars{
	color: white;
	/*background-color:  #F58634;*/
	/*font-size: 14px;*/
}

.sticky{
	position: fixed;
	width: 100%;
	margin: 0;
	z-index: 1;
	transition: 0.5s;
}

		/*LOGIN DESIGN*/
.modal-content{
	background-color: #F7F7F7;
}
.login-btn{
	background-color: #F58634;
	padding: 6px 50px;
	color: white;
	font-weight: bold;
}

.login-btn:hover{
	background-color: inherit;
	border: 2px solid #F58634;
	box-shadow: 5px 5px 5px grey;
	color:#F58634;
}

.login-btn:focus{
	background-color: #F58634;
	color: white;
	border:none;
}

.close-sign,
.login-title{
	color: #F58634;
	font-weight: bold;
}

.login-form div input,
.login-form div input:focus{
	background-color: inherit;
	border: none;
	font-style: italic;
	color: #F58634;
	border:2px solid #F58634;
}

.login-form div input:focus{
	border:none;
	border-radius: 0;
	border-bottom: 2px solid #F58634;
	outline-width: 0;
}

		/* REGISTER PAGE*/

.reg-main-cont{
	padding: 0 15px;
}

.register-img{
	display: none;
}

.reg-form-cont{
	width: 100%;
}

.reg-form{
	/*border:1px solid #F58634;*/
	background-color: #ffffff0d;
	box-shadow: 5px 5px 5px #ffffff2b;
}

.reg-input{
	background-color: inherit;
	border:none;
	border-radius: 0;
	border-bottom: 2px solid #F58634;
	color: #F58634;
}

.reg-input:focus{
	border-bottom:2px solid #F58634;
	background-color: inherit;
	color: #F58634;
}

.register-pg-btn{
	background-color: #F58634;
	width: 100%;
	padding: 8px 0;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
}

.register-pg-btn:hover{
	background-color: inherit;
	border:2px solid #F58634;
	color: #F58634;
	text-decoration: none;
}

/*============ CATEGORIES GOES HERE==============================*/

.categories-list{
	display: none;
}

.categories-list p:hover,
.carousel-prod-list div a:hover{
	font-weight: bold;
	color: #F58634;
	border-bottom: 1px solid #EFEEEE;
	cursor: pointer;
	text-decoration: none;
}


.carousel-prod-list{
	box-shadow: 5px 5px 5px #80808061;
	margin-top: 20px;
}

.carousel-prod-list div a{
	color: #F58634;
}

.carousel-prod-list:hover{
	box-shadow: none;
	border: 1px solid grey;
}

.carousel-display{
	width: 100%;
}
/*============= popular products=================*/
.portfolio{
	padding:0 30px;
	margin-top: 60px;
}

.portfolio-item{
	margin-bottom: 15px;
}

.portfolio-img,
.product-order-body-img{
	overflow: hidden;
	margin: 0 auto;
}

.portfolio-img img,
.product-order-body-img img{
	width: 100%;
	transition: 0.5s all ease-in-out;
}

.portfolio-img:hover img,
.product-order-body-img:hover img{
	transform: scale(1.25);
}

.product-order-body-img img{
	height: 350px !important;

}

.product-order-det{
		margin-top: 20px ;
	}

.product-order-body-img{
	/*height: 100%;*/
}

.prod-imgset-row .b-active{
	border: 3px solid #F58634;
}

/*PRODCUT PAGE DESIGN*/
.product-header div img{
	width:20%;
}


.seller-search{
	background-color: #F7F7F7;
}

.seller-detail-nav{
	display: block;
}

.seller-detail-cont{
	display: flex;
	justify-content: space-between;
	
}


.seller-main{
	width: 100%;
	padding: 0 5px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

#visit{
	/*border: 1px solid red;*/
	background-color: #F58634;
	color: white;
	padding: 5px;
	font-size: 13px;
	margin-top: 2px;
	padding: 2px 5px;
	font-weight: bold;
	border-radius: 70px;
}

.seller-search-btn{
	background-color: #F58634;
	border: 1px solid #F58634;
	color: white;
	font-weight:bolder;
}

.product-order-body {
	margin-top: 50px;
	padding: 5px 50px;	
}

.product-order-cont{
	border:1px solid #F58634;
}

.item-price{
	margin-top: 40px;
	border-bottom: 1px solid #F58634;
}
.item-price-main{
	font-size: 25px;
	font-weight: bold;
}

.order-btn{
	background-color: #F58634;
	padding: 8px 20px;
	border-radius: 5px;
	font-weight:bold;
	color: white;
}

.add-cart-btn{
	border: 2px solid #F58634;
	padding: 8px 20px;
	border-radius: 5px;
	font-weight:bold;
	color: #F58634;
}

.order-btn:hover,
.add-cart-btn:hover{
	cursor: pointer;
}


.seller-recomm{
	margin-top: 100px;
}


/*========= footer goes here=======*/
footer{
	background-color: #F7F7F7;
	
}

.newsletter-input-area input,
.newsletter-input-area input:focus{
	background-color: #EFEEEE;
	border: none;
	color: #3A424F;
	outline: none;
}

.newsletter-btn,
.product-header{
	background-color: #3A424F;
	border:none;
	color: #F58634;
}

.seller-search input,
.seller-search input:focus{
	border:1px solid #F58634;
	outline: none;
}


		/*========== ADD TO CART PAGE*/

.added-items-cont{
	width: 65%;
}

#cart-title{
	background-color: #3A424F;
	color: #F58634;
	font-style: italic;
	border-radius: 5px;
}

#cart-title h3{
	font-weight: bold;
}

.added-items{
	background-color: #F7F7F7;
	border: 1px solid #ddd;
	/*background-color: grey;*/
}

.cart_storeName{
	border-bottom: 1px solid #ddd;
}

/*.cart_storeName input{
	border: none;
	outline: none;
}*/

.cart_storeName a{
	color: #F58634;
	font-style: italic;
	text-decoration: none;
	/*font-weight: bold;*/
	margin-left: 7px;
}

.cart_storeName a:hover{
	color: #3A424F;
	font-weight: bold;
}

.cart-details{
	width: 83%;
}

.cart-item-checkbx{
	width: 2%;
}

.cart-item-img{
	border: 1px solid #ddd;
	width: 18%;
	height: 120px;
}

.cart-item-img img{
	width: 100%;
	height: 100%;
}

.itm-nameprice{
	width: 72%;
}

.itm-nameprice>p{
	color: #F58634;
	font-weight: bold;
}

.itm-colorlocatn p,
.delvry-fee{
	margin: 0;
	color: #3A424F;
	font-size: 14px;
}

.itm-colorlocatn p span{
	font-weight: bold;
	padding-right: 5px;
}

.delvry-price{
	font-weight: bold;
	color: #F58634;
}

.delvry-fee{
	font-size: 12px;
	font-weight: bold;
}

.delvry-fee span{
	font-weight: normal;
}

.item-editfeat-cont{
	width: 15%;
	height: 100%;
	border-left: 1px solid grey;
	margin-top: 5px;
	padding:0 20px;
}

.cart-delet-itm .fa-trash{
	font-size: 25px;
	color: #3A424F;
}

.buy-btn-cont{
	padding-top: 10px;
	margin-bottom: 15px;
}
.buy-btn-cont a{
	border: 1px solid #F58634;
	background-color: #F58634;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}

.buy-btn-cont a:hover{
	background-color: inherit;
	color: #F58634;
}


.checkout-box{
	/*border: 1px solid grey;*/
	width: 30%;
	height: 100%;
	background-color: #3A424F;
	border-radius: 5px;
	padding: 10px;
}

.checkout-box h4{
	color: #F58634;
	font-weight: bold;
}

.checkout-total{
	margin-top: 25px;
	color: white;
	padding-bottom: 15px;
	border-bottom: 1px solid grey;
}

.total-sum{
	margin-top: 10px;
	padding: 0 10px;
	font-size: 20px;
	color: #F58634;
	font-weight: bold;
}

.cart-order-btn{
	margin: 20px 10px;
}
.cart-order-btn a{
	border: 2px solid #F58634;
	background-color: #F58634;
	padding: 5px 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.cart-order-btn a:hover{
	background-color: inherit;
	color: #F58634;
}

.confirm-items div>h4,
.pay-opt>h5{
	display: inline-flex;
	border-bottom: 2px solid #F58634;
	font-style: italic;
	padding: 5px;
	margin: 5px;
}

.user-info{
	color: white;
}

.pay-opt{
	border-bottom: 1px solid #ddd;
	padding: 15px 5px 5px 15px ;
}

.payout-totalprice{

}
.payout-price{
	font-weight: bold;
	font-size: 23px;
}

.place-order-btn a{
	display: block;
	text-align: center;
	padding: 8px 0;
}


/*========================   MEDIA QUERIES START HERE  ===========================*/

@media (max-width: 767px){
	.toggle-cont .navbar-nav .fa-shopping-cart{
		display: block;
	}
}

/*for desktop*/
@media (min-width:601px){
	.hero{
		height: 450px;
	}

	.portfolio-header{
		padding:0 80px;
	}

	.login-btn{
		padding: 8px 80px;
	}

	/*.cart-logo img{
		width: 10%;
	}*/



	.product-order-body {
		margin-top: 80px;
		padding: 0 20px;
	}

	.product-order-body-img img{
		height: 550px !important;

	}

	.categories-list{
		font-weight: lighter;
		background-color: #f4f4f4;
		width: 20%;
	}

	.register-img{
		display: none;
	}

	.seller-main{
		width: 45%;
		padding: 0 5px;
		border: 0;
		margin:0;
	}

	.seller-detail-nav{
		display: flex;
		justify-content: space-between;
	}

	.seller-main-form{
		width: 45%;
	}

	#navbarCollapse .navbar-nav .fa-shopping-cart{
		font-size: 20px;
		margin-right: 10px;

	}
}

/* for lapotop*/
@media (min-width:992px){
	.hero{
		background-color: #3A424F;
		height: 655px;
	}
	.herotext{
		padding-top: 140px;
		color:white;
	}

	.herotext h1{
		font-size: 32px;
	}

	.herotext p{
		font-size: 24px;
	}

	.tiny_dots{
		width: 1%;
		height:1.5%;
	}

	.dot_2{
	bottom: 5px;
	right: 5px;
	}

	.dot_3{
		bottom: 2px;
		right: 200px;
		/*box-shadow: 5px 5px 5px #C65705;*/
	}

	.dot_4{
		top: -20px;
		right: 100px;
	}

	.mid_dots{
		position: absolute;
		width: 7%;
		height:9.5%;
		border-radius: 50%;
		background-color: #F58634;
		/*box-shadow: -10px 10px 10px #C65705;*/
	}

	.register-button{

		margin: 5px 3px;
		padding: 8px 30px;
		border-radius: 5px;
	}

	.login-btn{
		padding: 8px 80px;
	}

	.reg-main-cont{
	padding: 0 50px;
}

	.reg-form-cont{
		width: 50%;
	}

	.register-img{
		display: block;
	}

	.categories-list{
		display: block;
		font-weight: lighter;
		background-color: #f4f4f4;
		width: 20%;
	}

	.carousel-display{
		width: 80%;
	}

	/*============== navbar car and fixed tab =======================*/
	
	#navbarCollapse .navbar-nav .fa-shopping-cart{
		display: block;
		font-size: 25px;
	}

	#navbarCollapse .navbar-nav div{
		display: block;
	}

	.toggle-cont .shop-itemNum div{
		display: none;
	}
	.toggle-cont .navbar-nav .fa-shopping-cart{
		display: none;
	}

	.shop-itemNum {
		position: relative;
	}
	.shop-itemNum div{
		position: absolute;
		top: -5px;
		right: -5px;
		color: white;
		background-color: #F58634;
		padding: 2px 5px 3px 3px;
		border-radius: 50%;
		font-size: 10px;
		font-weight: bold;
	}

	/*======================= CATEGRORY =======================*/
	.cat-product-cont{
		margin-top:0;
	}

	.carousel-prod-list{
		margin-top: 0;
	}

	/*======================= POPULAR PRODUCTS ==========================*/
	.portfolio-header{
		padding:0 100px;
	}
	.portfolio{
		padding:0 200px;
		margin-top: 120px;
	}


	/*======= Product Page design=========*/
	.seller-detail-nav{
		display: flex;
		justify-content: space-between;
	}
	.product-header div img{
		width:6%;
		margin-left: 50px;
	}

	.product-order-body {
		margin-top: 80px;
		padding: 0 70px;
	}

	.product-order-body-img img{
		height: 450px !important;

	}

	.order-btn,
	.add-cart-btn{
		padding: 9px 20px;
		border-radius: 5px;
	}

	.seller-main{
		width: 22%;
		padding: 0 5px;
		border:none;
		margin:0;
	}


	/*=====================FOOTER===============*/

	.social-contact{
		border-right: 1px solid grey;
	}

	.newsletter-btn{
		padding: 3px 8px;
	}

	.news-details{
		padding-left: 30px;
	}
}